*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

#root {
  display:flex;
  flex-direction: column;
}

.carousel,
.carousel .slider {
  max-height:35rem;
  position:relative;
}


.carousel-image-wrapper {
  position:relative;
  height: 100%;
}

.carousel-image-wrapper:before {
  position:absolute;
  content: '';
  display:block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.carousel-image-text {
  position:absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;
  font-size: 3rem;
  color: white;
  transition: color 0.3 ease-out;
}

.banner-byline {
  font-size: 2rem;
}

#post-body {
  display:block;
}

#post-body img {
  display:block;
  width: 100%;
}

.row {
  padding: 20px 0;
}

.row:hover,
.row:focus {
  background-color: transparent;
}

.row:nth-child(odd) {
  background-color: #e8f4fd;
  transition: background-color 0.2s ease-out;
  cursor:pointer;
}

.row:nth-child(even) {
  background-color: #ffffff;
}